table{
    width: 100%;

}
#nameProductTH{
    width: 60%;
    
}

th, td{
    text-align: left;
    margin: 0%;
    border: solid rgb(199, 199, 199);
    border-collapse: collapse;
    border-width: 0px 0.1cap 0.1cap 0px;
}

#ThNoBottonBorder {
    border-width: 0px 0.1cap 0cap 0px;
}

#ThNoRightBorder {
    border-width: 0px 0cap 0.1cap 0px;
}

#ThNoBottonAndRightBorder {
    border-width: 0px 0cap 0cap 0px;
}


#space{
    height: 40cap;
}