.input_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5cap;
}

.input_control input {
    border: 2px solid #cccbcb;
    border-radius: 4px;
    display: block;
    font-size: 1.5cap;
    padding: 10px;
    
}

span{
    font-size: 14px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}


