.divButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    gap: 10px;

    margin-top: 2cap;
}


.divButtons button{
    background-color: #6A65FE;
    
    border-width: 0.1cap;
    border-radius: 0.10cm;
    cursor: pointer;
    text-align: center;

    font-size: 1.8cap;
    height: 2cap;

    width: 20vh;
}