nav {
    background-color: #6A65FE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom-left-radius: 2cap;
    border-bottom-right-radius: 2cap;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.Itens{
    padding-left: 1cm;
    display: flex;
    align-items: center;

}

.Itens a{
    text-decoration: none;
    text-decoration-style: solid;
    color: black;
    font-family: Calibri;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1.5cap;
}
.Itens h1{
    margin-left: 2cap;
    font-size: 3cap;
    
}

.Part2{
    flex: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
.genericprofile{
    width: 40%;
    margin-right: 3cap;
    background-color: aliceblue;
    border-radius: 20px;

}


.dropdown {
    position: relative;
    display: inline-block;
    width: 15%;
}
.help {
    display: flex;  
    justify-content: flex-end
    
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown_content {
    display: none;
    position: absolute;
    background-color: rgba(253, 253, 253, 0.89);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 1cap;
}

/* Links inside the dropdown */
.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 2cap;
}
.dropdown_content h1 {
    color: black;
    padding: 12px 16px;
    margin-bottom: 1cap;
    padding-bottom: 3px;
    text-decoration: none;
    display: block;
    font-size: 2cap;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
